

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    
</head>
<body>
    
    <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, facere ullam. Quos dolorum, cum eaque est doloremque accusamus expedita pariatur beatae maxime illo veniam dolorem consequuntur eveniet molestiae accusantium. Laborum.</P>
    
    
    <ul>
        <% for( let i = 1; i <15; i++  ){ %>
            <li>
                <%= i %>
            </li>
        <% } %>
    </ul>

    <% if (false) { %>
        <p> It's true</p>
    <% } else { %>
        <p> It's false </p>
    <% } %>
     

</body>
</html>