*{
    margin: 0;
    padding: 0;
}
.container{
    font-family: cursive;
    /* margin-top: 4%; */
    /* padding: 2%; */
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(29, 25, 25, 0.654);
    color: white;
}
container > h1{
    text-align: center;
    /* margin-top: 3%; */
    font-weight: bolder;
}
#contact-list ul li{
    margin: 5%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(42, 36, 36, 0.811);
}
#contact-list ul li:hover{
    cursor: pointer;
    background-color: rgba(32, 31, 31, 0.803);
    color: rgb(62, 238, 18);
    border-radius: 4px;
}
#contact-list ul li i{
    cursor: pointer;
    color: red;
}
#contact-list ul {
    list-style-type:circle;
}
#contact-list{
    width: 25vw;
    background-color: rgb(34, 32, 32);
}
.contact-form form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    /* background-color: rgb(34, 32, 32); */
}
.contact-form form input{
    width: 15vw;
    padding: 5px;
    margin: 5px;
    outline: none;
    border: none;
    border-bottom: 4px solid red;
    color: red;
}
.contact-form form button{
    /* width: 10px;
    height: 7px; */
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border: none;

}
.contact-form form button:hover{
    background-color: rgb(6, 250, 6);
    color: rgb(244, 9, 173);
    font-weight: bolder;
    /* border: 4px solid rgb(195, 0, 255);     */
    border-radius: 5px;
}
